{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
		<h1>Hello, world!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus mollitia saepe magni amet labore fugit voluptas consequuntur sit deserunt, aspernatur ducimus fuga animi at, odit. Quaerat, voluptates eos expedita delectus.</p>
		<a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
	</div>
</div>
{% endblock %}
