{% extends 'base.html.twig' %}

{% block body %}
	<h1>Hello Market</h1>
	<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook">Sign in with Facebook</a>
{% endblock %}