{% extends '::base.html.twig' %}

{% block body %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}          
                <div id="flash-message" class="popover left popover-flash" data-toggle="popover">
                    <div class="arrow"></div>
                    <h3 class="popover-title text-{{ type }}">{{ type|capitalize }}</h3>
                    <div class="popover-content">
                        <p>{{ message }}</p>
                    </div> 
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}


    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}